<tr class="border-b border-b-[#767578]">
  <td class="p-3 text-[#21CECC] font-medium">{{sucursal.nombre}}</td>
  <td class="p-3">{{sucursal.responsable}}</td>
  <td class="p-3">{{sucursal.email}}</td>
  <td class="p-3">
        <span class="bg-green-100 text-green-700 px-3 py-1 rounded-full text-sm">
          {{sucursal.estado}}
        </span>
  </td>
  <td class="p-3 flex space-x-2">
    <button class="p-2 bg-[#21CECC] rounded hover:bg-teal-200">
      ✏️
    </button>
    <button class="p-2 bg-[#F0713B] rounded hover:bg-red-200">
      🗑️
    </button>
  </td>
</tr>
