<div class="p-6 bg-white">
  <h2 class="text-xl font-bold text-[#21CECC] mb-6">Agregar Nueva Sucursal</h2>

  <form>

    <div class="flex flex-col mb-5">
      <label class="pb-1 font-semibold text-[#21CECC]">Nombre de la sucursal</label>
      <input type="text" placeholder="Nombre de la Sucursal" class="w-full border-[2px] border-[#21CECC] p-2 rounded-lg
    placeholder:text-[#878787]"
      >
    </div>
    <div class="flex flex-col mb-5">
      <label class="py-1 font-semibold text-[#21CECC]">Responsable</label>
      <input type="text" placeholder="Responsable" class="w-full border-[2px] border-[#21CECC] p-2 rounded-lg
    placeholder:text-[#878787]"
      >
    </div>
    <div class="flex flex-col mb-5">
      <label class="py-1 font-semibold text-[#21CECC]">Email</label>
      <input type="email" placeholder="Email" class="w-full border-[2px] border-[#21CECC] p-2 rounded-lg
    placeholder:text-[#878787]"
      >
    </div>





    <div class="flex justify-between gap-2">
      <button type="submit" class="flex-1 bg-[#F0713B] text-white px-4 py-2 rounded-lg
      hover:bg-orange-600 transition duration-200 cursor-pointer">Agregar</button>
      <button type="button" mat-dialog-close class="flex-1 border-[2px] border-[#21CECC] text-[#21CECC] px-4 py-2 rounded-lg
      hover:bg-[#21CECC] hover:text-white transition duration-200 cursor-pointer">Cancelar</button>
    </div>
  </form>
</div>
