<div class="flex justify-center mt-16">
  <div class="relative flex space-x-10 border-b border-gray-300">

    <!-- Opción 1 -->
    <button
      (click)="selected = 'op1'"
      class="pb-2"
    >
      <span [ngClass]="selected === 'op1' ? 'text-blue-600' : 'text-gray-600'">
        Cargar sucursal
      </span>
    </button>

    <!-- Opción 2 -->
    <button
      (click)="obtenerSucursales()"
      class="pb-2"
    >
      <span [ngClass]="selected === 'op2' ? 'text-blue-600' : 'text-gray-600'">
        Ver sucursales
      </span>
    </button>

    <!-- Subrayado animado -->
    <span
      class="absolute bottom-0 h-0.5 bg-blue-600 transition-all duration-300"
      [ngStyle]="{
        left: selected === 'op1' ? '0%' : '50%',
        width: '50%'
      }"
    ></span>
  </div>
</div>
@if(selected === 'op1'){
  <app-alta-sucursal (sucursal)="onSucursalCreada($event)"></app-alta-sucursal>
} @else if (selected === 'op2'){
  <app-sucursales-list [sucursales]="sucursales"></app-sucursales-list>
}

